 <aside class="profile-card friend", id="<%= dom_id another_user %>">
  <header>
    <%= link_to profile_path(id: another_user) do %>
      <%= image_tag another_user.image_url_or_default%>
    <% end %>
    <h1 class="title is-4"><%= another_user.name %></h1>
    <h2 class="subtitle is-6"><%= another_user.email %></h2>
  </header>
  <div class="profile-bio">
    <p>Hello Friend</p>
    <p> Friends: <%= User.num_friends(another_user)%></p>
    <p> Friendedbys: <%= User.num_friendedbys(another_user)%></p>
  <footer class="card-footer">


          <a class="card-footer-item js-remove <%= current_user.is_friend?(another_user) ? " " : "hidden" %>">
            <%= form_for current_user, url: remove_friend_path(user_id: another_user.id), method: :delete, remote: true do |f| %>
              <button class="button is-danger add-remove is-inverted"><%= icon("user-times", "Remove Friend") %></button>
            <% end %>
          </a>
          <li class="card-footer-item js-contact <%= current_user.is_friend?(another_user) ? " " : "hidden" %>">
            <%= link_to icon("envelope-o","Contact"), new_message_path, remote: true %>
          </li>

          <a class="card-footer-item js-add <%= current_user.is_friend?(another_user) ? "hidden" : " " %>">
            <%= form_for current_user.friendships.build(friend: another_user), remote: true do |f| %>
              <%= f.hidden_field :friend_id %>
              <button class="button is-primary  is-inverted "><%= icon("user-plus", "Add Friend") %></button>
            <% end %>
          </a>
  </footer>
</aside>
