
<div class="content"><h1 style="color:#b5a3b6; background-color: #1e97bd; text-align: center;"><%=  @user==current_user ? "Your profile" : (@user.name + "Profile")  %></h1></div>
  <div class="columns ">
    <div class="column is-one-third  ">
      <div class="card user-card" style="background-color: #9f8d89;" >
        <div class="card-content">
            <div class="field">
              <div class="label">Name</div>
              <div class="control">
                <p class=""> <%= @user.name %></p>
              </div>
            </div>
            <div class="field">
              <div class="label">Email</div>
              <div class="control">
                <p class=""> <%= @user.email %> </p>
              </div>
            </div>
            <div class="field">
              <div class="label">Favoite:</div>
              <div class="control">
                <p class=""> love football </p>
              </div>
              <div class="label">Social:</div>
              <div class="control">
                <p> Friends: <%= User.num_friends(@user)%></p>
                <p> Friendedbys: <%= User.num_friendedbys(@user)%></p>
              </div>
            </div>
            <div class="field">
              <div class="label">Image:</div>
              <div class="control">
                <img class="card-image" src="<%= @user.image_url_or_default %>" alt="Card image cap">
              </div>
            </div>
            <% if current_user.id == @user.id %>
              <div class="field">
                <%=link_to "Edit profile", update_profile_path, class: "button is-primary" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>


    <div class="column is-centered">
        <div class="field">
          <label class="label title-padding" style="color:#0743cd; background-color:#a3a9b6">How do you feel to day?</label>
          <div class="control">
            <%= form_for @post=Post.new do |f| %>
              <%= f.hidden_field :waller_id, value: @user.id %>
              <%= f.text_area :body, class: "form-control textarea", placeholder: "We are here to understand you..." %>
              <%= f.submit "Post", class: "button is-primary" %>
            <% end %>
          </div>
        </div>
      <% @user.wallers.each do |post|%>
        <div class="post card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="<%= post.poster.image_url %>" alt="Twitter square">
                </p>
              </div>
              <div class="media-content">
                <p class="is-title">

                  <strong><%= link_to post.poster.name, profile_path(id: post.poster)  %></strong>
                </p>
                <small><%= time_ago_in_words post.updated_at %> ago</small>
              </div>
            </div>
            <div class="content">
              <%= simple_format post.body %>
            </div>
          </div>
          <div class="card-footer">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <%= link_to fa_icon("thumbs-up", text: "Like"), toggle_like_path(post_id: post.id),
                  class: "button is-white #{'is-liked' if current_user.liking?(post)}", method: "post" %>
                </div>
                <div class="level-item">
                  <%= link_to fa_icon("comments", text: "Comment"), "/changeme", class: "button is-white" %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <%= display_likers(post) %>
          </div>
          <% post.comments.each do |cmt| %>
            <div class="comment card-content">
              <div class="media">
                <div class="media-left">
                  <p class="image is-32x32">
                    <img src="<%= cmt.user.image_url %>" alt="19875190 1481159571950328 2204729161999237824 n" />
                  </p>
                </div>
                <div class="media-content">
                    <%= cmt.body %>
                  <div class="level">
                    <div class="level-left">
                      <div class="level-item">
                        <%= link_to fa_icon("thumbs-up", text: "Like"), toggle_like_path(comment_id: cmt.id),
                        class: "button is-white #{'is-liked' if current_user.liking?(cmt)}", method: "post" %>
                         <%= time_ago_in_words cmt.updated_at %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
