
<div class="content"><h1 style="color:#b5a3b6; background-color: #1e97bd; text-align: center;"><%=  @user==current_user ? "Your profile" : (@user.name + "Profile")  %></h1></div>
  <div class="columns ">
    <div class="column is-one-third  ">
      <div class="card user-card" style="background-color: #9f8d89;" >
        <div class="card-content">
            <div class="field">
              <div class="label">Name</div>
              <div class="control">
                <p class=""> <%= @user.name %></p>
              </div>
            </div>
            <div class="field">
              <div class="label">Email</div>
              <div class="control">
                <p class=""> <%= @user.email %> </p>
              </div>
            </div>
            <div class="field">
              <div class="label">Favoite:</div>
              <div class="control">
                <p class=""> love football </p>
              </div>
              <div class="label">Social:</div>
              <div class="control">
                <p> Friends: <%= User.num_friends(@user)%></p>
                <p> Friendedbys: <%= User.num_friendedbys(@user)%></p>
              </div>
            </div>
            <div class="field">
              <div class="label">Image:</div>
              <div class="control">
                <img class="card-image" src="<%= @user.image_url_or_default %>" alt="Card image cap">
              </div>
            </div>
            <% if current_user.id == @user.id %>
              <div class="field">
                <%=link_to "Edit profile", update_profile_path, class: "button is-primary" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="column is-centered">
        <div class="field">
          <label class="label title-padding" style="color:#0743cd; background-color:#a3a9b6">How do you feel to day?</label>
          <div class="control new-post">
            <%= render "posts/new" %>
          </div>
        </div>
      <div class="posts-list">
        <% @user.wallers.order("created_at DESC").each do |post|%>
          <%= render "posts/show", post: post %>
        <% end %>
      </div>
    </div>
  </div>
</div>
