<% content_for(:content) do %>
<div class="columns">
  <div class="column is-one-quarter">
    <aside class="menu">
      <p class="menu-label">
        MESSAGES
      </p>
      <ul class="menu-list">
        <li> <%= link_to icon("send-o","Composes"), new_message_path, class: "menu-color"%> </li>
        <li> <%= link_to icon("inbox","Inbox"), inbox_messages_path, class: "menu-color"%> </li>
        <li> <%= link_to icon("envelope-o","Sent"), sent_messages_path, class: "menu-color"%> </li>
      </ul>
    </aside>
  </div>
  <div class="column">
   <%= yield %>
  </div>
</div>
<% end %>

<%= render file: "layouts/application" %>
